* {
    margin: 0;
    padding: 0;
}

/*estilos de fuentes posibles*/
@font-face {
    font-family: "ananda2";
    src: url('ananda_2/Ananda\ Personal\ Use.ttf');
    font-family: "hello-vallentica";
    src: url('hello_valentica/Hello\ Valentina.ttf');
    font-family: "comfortaa";
    src: url('comfortaa/Comfortaa-Regular.ttf');
}


/***************************************************** HEADER */
.header {
    background-image: linear-gradient(to top, white, #aa79b3);
}

/*estilo Nav Header*/
.header nav {
    width: 95%;
    padding-left: 75px;

}

/*Estilo Logo Header*/
.header-logo {
    width: 20%;
    padding: 10px 50px 20px;
    margin: 20px;
}

/*Estilo Menú y Redes*/
.header-options {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*Estilos redes sociales*/
.header-social {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 20px 0;
}


.nav-buttons {
    width: 50%;
}

/*Estilos ítems menú header*/
 .nav-button {
    font-family: "comfortaa";
    font-size: 1.3rem;
    background-color: #67b967;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.438);
    transition: all 0.5s;
}

.nav-button:hover {
    background-color: lightgray;
    color: #67b967;
    box-shadow: none;
    transform: scale(110%);
}


/******************************************************** FOOTER */
.footer {
    background-image: linear-gradient(to bottom, white, #67b967);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*estilo redes sociales footer*/
.footer nav {
    width: 70%;
}

/*estilo menú footer*/
.footer ul {
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/*estilo ítems menú footer*/
.footer nav ul li a {
    text-decoration: none;
    color: black;
}

.footer nav ul li a:hover {
    color: white;
}




/****************************************************** MAIN-INDEX */

.us {
    font-family: "comfortaa";
    font-size: 2rem;
}

.us h1 {
    padding: 100px 0px 0px 0px;
    text-align: center;
    font-weight: bold;
}

.us p {
    padding: 20px 50px;
}

/*Estilos imágenes Main*/
.main-pic {
    /* width: 90%; */
    object-fit: cover;
    -webkit-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    margin: 10px 0;
}


/********************************** MAIN BIENESTAR Y ENTRENAMIENTO */

.main-bien-entre {
    padding-top: 50px;
    font-family: "comfortaa";
    font-size: 1.3rem;
}

.main-bien-entre img {
    margin: 25px 0px;
    -webkit-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
}

.article {
    align-self: center;
}

.main-bien-entre h1 {
    font-weight: bold;
}


/**************************************************** MAIN MASAJES */

.masajes {
    font-family: "comfortaa";
    font-size: 1.3rem;
    padding-top: 50px;
}

.masajes h1 {
    text-align: center;
    font-weight: bold;
}

/*Estilo imágenes masajes*/
.masajes img {
    width: 80%;
    object-fit: cover;
    -webkit-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.36);
}

.masajes-texto {
    width: 70%;
}

/****************************************************** MAIN TURNO */

.turno-form {
    font-family: "comfortaa";
    font-size: 1rem;
}

/*estilo de mapa*/
.turno-map {
    align-items: flex-start;
    font-family: "comfortaa";
    font-size: 1.2rem;
}



/***************************************************** RESPONSIVE */

 @media only screen and (max-width:576px) {

    .us {
        font-size: 1.5rem;
        padding: 20px 10px;
    }

    .us p {
        padding: 5px 5px;
        text-align: center;
    }


    .main-bien-entre {
        font-size: 1rem;
        text-align: center;
    }

    .main-bien-entre h1 {
        text-align: center;
    }

    .entrenamiento-par {
        display: flex;
        flex-direction: column-reverse;
    }



    .main-bien-entre section article h1 {
        text-align: center;
    }


    .masajes {
        font-size: 1rem;
    }

    .masajes-texto {
        width: 100%;
    }

    .turno-form {
         font-size: 0.75rem;
    }

    .turno-map {
        font-size: 0.75rem;
        padding: 10px;
    }

    .turno-map iframe {
        width: 95vw;
    }

}