header {
    background-image: linear-gradient(to top, white, #aa79b3);

    nav {
        /*estilo Nav Header*/
        width: 95%;
        padding-left: 75px;

        div {
            a {
                width: 25%;

                @media only screen and (max-width:576px) {
                    width: 60%;
                }
            }

            div {
                div {
                    a {
                        font-family: $fuente;
                        font-size: $size-fuente-header;
                        width: auto;
                        // @extend %boton-menu;
                        
                        /******************** Aplico un mapa para el desafio en reemplazo del extend */
                        background-color: map-get($boton-menu, bg-color);
                        border-radius: map-get($boton-menu, border-r);
                        box-shadow:  map-get($boton-menu, box-s);
                        transition:  map-get($boton-menu, trans);

                        &:hover {
                            @extend %boton-menu-hover;
                            transform: scale(110%);
                        }

                        @media only screen and (max-width:576px) {
                            font-size: $size-fuente-responsive;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width:576px) {
            width: auto;
            padding-left: 0px;
        }
    }
}