
/****************************************************** MAIN-INDEX */
.nosotros {
    font-family: $fuente;
    font-size: $size-fuente-nosotros;

    div {
        div {
            h1 {
                padding: 100px 0px;
                text-align: center;
                font-weight: bold;
            }

            div {
                h2 {
                    padding: 100px 0px 0px 0px;
                    text-align: center;
                    font-weight: bold;
                }

                p {
                    padding: 20px 50px;

                    @media only screen and (max-width:576px) {
                        padding: 5px 5px;
                        text-align: center;
                    }
                }
            }

            div {
                div {
                    div {
                        img {
                            object-fit: cover;
                            @extend %sombra-imagenes;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:576px) {
        font-size: $size-fuente-responsive;
        padding: 20px 10px;
    }
}